<?xml version="1.0"?>
<model>
  <name>sea_floor</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>bumblebeeAS</name>
    <email>bumblebeeauv@gmail.com</email>
  </author>
  <description>Sea floor model for the Singapore River environment.</description>
</model>
