<?xml version="1.0"?>
<model>
  <name>floating_dock_simple</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>bumblebeeAS</name>
    <email>bumblebeeauv@gmail.com</email>
  </author>
  <description>RobotX 2026 simplified floating supply platform: 2m x 2m deck with red/green/blue colored circles.</description>
</model>
